header
    position: relative
    background-color: yellow
    height: 100%
    max-height: calc(100vh - 140px)
    overflow: hidden
    

header img 
    width: 100vw  
    max-height: calc(100vh - 140px)
    animation: increaseImg 5s linear infinite

header .arrow i
    position: absolute
    bottom: 5%
    left: 50%
    transform: translate(-50%,-50%)
    font-size: 50px
    border-radius: 50%
    animation: arrow 20s linear infinite


@keyframes increaseImg
    0% 
        transform: scale(1)
    100%  
        transform: scale(1.15)
        
@keyframes arrow
    0%
        background-color: transparent
        box-shadow: 0 0 0 0 transparent
        color: white
    5%
        background-color: rgba(255,255 ,255 ,0.3 )
        box-shadow: 0 0 0 50px rgba(255,255 ,255 ,0.3 )
        color: white
    10%  
        background-color: transparent
        box-shadow: 0 0 0 0 transparent
        color: white
    15%  
        background-color: transparent
        box-shadow: 0 0 0 0 transparent 
        color: white   
    20%  
        background-color: rgba(255,255 ,255 ,0.3 )
        box-shadow: 0 0 0 50px rgba(255,255 ,255 ,0.3 ) 
        color: white   
    25%
        background-color: transparent
        box-shadow: 0 0 0 0 transparent 
        color: white   
    30%  
        background-color: rgba(60,60 ,60 ,0.5 )
        box-shadow: 0 0 0 50px rgba(60,60 ,60 ,0.5 )
        color: rgba(60,60 ,60 ,0.5 )
    35%
        background-color: transparent
        box-shadow: 0 0 0 0 transparent 
        color: rgba(60,60 ,60 ,0.5 ) 
    40% 
        background-color: transparent
        box-shadow: 0 0 0 0 transparent 
        color: rgba(60,60 ,60 ,0.5 ) 
    45%
        background-color: rgba(60,60 ,60 ,0.5 )
        box-shadow: 0 0 0 50px rgba(60,60 ,60 ,0.5 )
        color: rgba(60,60 ,60 ,0.5 )
    50% 
        background-color: transparent
        box-shadow: 0 0 0 0 transparent 
        color: rgba(60,60 ,60 ,0.5 )     
    55%
        background-color: rgba(60,60 ,60 ,0.5 )
        box-shadow: 0 0 0 50px rgba(60,60 ,60 ,0.5 )
        color: rgba(60,60 ,60 ,0.5 )
    60% 
        background-color: transparent
        box-shadow: 0 0 0 0 transparent 
        color: rgba(60,60 ,60 ,0.5 )     
    65%
        background-color: transparent
        box-shadow: 0 0 0 0 transparent 
        color: rgba(60,60 ,60 ,0.5 )  
    70%  
        background-color: rgba(60,60 ,60 ,0.5 )
        box-shadow: 0 0 0 50px rgba(60,60 ,60 ,0.5 )
        color: rgba(60,60 ,60 ,0.5 )
    75%
        background-color: transparent
        box-shadow: 0 0 0 0 transparent 
        color: rgba(60,60 ,60 ,0.5 )     
    76%
        background-color: transparent
        box-shadow: 0 0 0 0 transparent 
        color: white   
    80%
        background-color: rgba(255,255 ,255 ,0.3 )
        box-shadow: 0 0 0 50px rgba(255,255 ,255 ,0.3 ) 
        color: white    
    85%
        background-color: transparent
        box-shadow: 0 0 0 0 transparent 
        color: white   
    90%
        background-color: transparent
        box-shadow: 0 0 0 0 transparent 
        color: white 
    95%
        background-color: rgba(255,255 ,255 ,0.3 )
        box-shadow: 0 0 0 50px rgba(255,255 ,255 ,0.3 ) 
        color: white
    100%
        background-color: transparent
        box-shadow: 0 0 0 0 transparent 
        color: white 