@import '_nav';
@import '_header';
@import '_about';


// font-family: 'Oswald', sans-serif;
// font-family: 'Yellowtail', cursive;


*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Oswald', sans-serif

body 
    max-width: 100vw
    overflow-x: hidden

.wrapper
    display: flex
    flex-direction: column
    align-items: center
    
    background-color: #ddd

h1,h2 
    text-align: center
